@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(#041d2d 61%, #154d71 100%);
  --background-repeat: no-repeat;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(#041d2d 61%, #154d71 100%);
    --background-repeat: no-repeat;
    --foreground: #171717;
    --next-dev-overlay-display: none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100wh;
  background: var(--background);
  background-repeat: var(--background-repeat);
  overflow: hidden;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
